*.pyc
.vscode
temp*
outputs*
debug*
log*
view*
wandb*
*.bak
data
*build/*
*__pycache__*
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.so
gttest0.ply
gttest1.ply
range_view_distgt.png
beam_inclinations.ply
lidar_point.ply
range_view_dist_ras.png
range_view_dist_ras(y1_@02).png
range_view_dist_ras(y4).png
range_view_distgt(+pi).png
range_view_distgt(反投).png
snapshot_fw.dump
beam_inclinations.ply
lidar_point.ply
beam_inclinations.ply
lidar_point.ply
submodules/diff_lidargs_rasterization_0812.zip

outputs/
outputs_0124/
convert.py
create_data.sh

**/__pycache__
__pycache__/